### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
    
    1.Python
    2.R.
    3.SQL.
    4.Java.
    5.Julia.
    6.Scala.
    7.C/C++.
    8.JavaScript.

### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1.Pandas

2.NumPy

3.SciPy

4.Matplotlib

5.TensorFlow

6.PyTorch

7.Keras

8.Scikit-learn

### Exercise 6 - Create a markdown cell with a table of Data Science tools.

|Data Science Tools:|
|-------------------|
|SAS|
|Apache Spark|
|BigML|
|Kylo|

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples.

# Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [4]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

### Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5
# Output: 17

17

### Exercise 9 - Create a code cell to convert minutes to hours.

This will convert 200 minutes to hours by diving by 60

In [5]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(hours) + " hours, " + str(mins) +  " mins. ")

3.3333333333333335 hours, 0 mins.

### Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

### Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

# Author :-
Abhay Kulkarni